#nav-main-toggle{
    display: none;
}


nav{
    background: var(--bg);
    color: var(--nav-text);
    text-align: center;
    opacity: 1;
    width: 100vw;
    position: fixed;    
    ul{
        height: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 110px;
        li{
            list-style-type: none;
            margin-left: 45px;
            a{
                text-decoration: none !important;
                color: var(--nav-text);
                text-transform: uppercase;
                font-family: 'averta_stdsemibold';
                font-size: 16x;
                font-weight: 600;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
                opacity: 1;
            }
            a:hover{
                color: var(--nav-text-hover);
            }
        }
        #logo{
            float: left;
            margin-right: auto;
            margin-left: 110px;
            img{
                height: 106px;
                width: 90.2px;
            }

        }
        #mode{
            position: absolute;
            right: 55px;
            a{
                cursor: pointer;
            }
            a:hover{
                color: var(--color-switch-hover);
            }
        }
    }
}