#nav-main-toggle {
  display: none;
}

nav {
  background: var(--bg);
  color: var(--nav-text);
  text-align: center;
  opacity: 1;
  width: 100vw;
  position: fixed;
}

nav ul {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 110px;
}

nav ul li {
  list-style-type: none;
  margin-left: 45px;
}

nav ul li a {
  text-decoration: none !important;
  color: var(--nav-text);
  text-transform: uppercase;
  font-family: 'averta_stdsemibold';
  font-size: 16x;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

nav ul li a:hover {
  color: var(--nav-text-hover);
}

nav ul #logo {
  float: left;
  margin-right: auto;
  margin-left: 110px;
}

nav ul #logo img {
  height: 106px;
  width: 90.2px;
}

nav ul #mode {
  position: absolute;
  right: 55px;
}

nav ul #mode a {
  cursor: pointer;
}

nav ul #mode a:hover {
  color: var(--color-switch-hover);
}
/*# sourceMappingURL=big-nav.css.map */