*{
    margin: 0;
    padding: 0;
}

html{
    --bg: #FFF;
    --nav-text: #716F6F;
    --nav-text-hover: #000;
    --background: #FFF;
    --color-switch-hover: #FFD500;
}

html[data-theme='dark']{
    --bg: #171717;
    --nav-text: #D8D8D8;
    --nav-text-hover: #FFF;
    --background: #191919;
    --color-switch-hover: #FFD500;
}

body{
    background: var(--background);
}

#color-switch{
    color: var(--nav-text);
}

nav{
    Z-INDEX: 1000;
}

.banner-img{
    height: 100vh;
    background-image: url('../assets/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .shade{
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
    }
}

html.transition, html.transition *, html.transition *::after, html.transition *::before{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}