#nav-main-toggle {
    position: fixed;
    z-index: 21;
    top: 4.5em;
    left: 2em;
    font-size: 20px;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #494D4D;
    transition: 0.2s ease-out;
    background-blend-mode: lighten;
    display: block;
}


nav{
    position: absolute;
    top:0;
    height: 100vh;
    background: var(--bg);
    overflow: hidden;
    color: var(--nav-text);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.8px;
    opacity: 0;
    width: 0;
    transition: 350ms ease-out;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus {
        outline: none;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-items: center;
        li{
            list-style-type: none;
            padding: 10px 15px;
            a{
                text-decoration: none !important;
                color: var(--nav-text);
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: 0.8px;
                font-weight: 500;
            }
            a:hover{
                color: var(--nav-text-hover);
            }
        }

        #logo{
            margin:0 auto;
            img{
                height: 106px;
            }
        }

        #mode{
            position: absolute;
            top: 5em;
            right: 2em;
            a{
                font-size: 20px;
                cursor: pointer;
            }
            a:hover{
                color: var(--color-switch-hover);
            }
        }
    }
}

.nav-active {
    width: 100vw;
    height: 100vh;
    opacity: 1;
}