#nav-main-toggle {
  position: fixed;
  z-index: 21;
  top: 4.5em;
  left: 2em;
  font-size: 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #494D4D;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-blend-mode: lighten;
  display: block;
}

nav {
  position: absolute;
  top: 0;
  height: 100vh;
  background: var(--bg);
  overflow: hidden;
  color: var(--nav-text);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.8px;
  opacity: 0;
  width: 0;
  -webkit-transition: 350ms ease-out;
  transition: 350ms ease-out;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav:focus {
  outline: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

nav ul li {
  list-style-type: none;
  padding: 10px 15px;
}

nav ul li a {
  text-decoration: none !important;
  color: var(--nav-text);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

nav ul li a:hover {
  color: var(--nav-text-hover);
}

nav ul #logo {
  margin: 0 auto;
}

nav ul #logo img {
  height: 106px;
}

nav ul #mode {
  position: absolute;
  top: 5em;
  right: 2em;
}

nav ul #mode a {
  font-size: 20px;
  cursor: pointer;
}

nav ul #mode a:hover {
  color: var(--color-switch-hover);
}

.nav-active {
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
/*# sourceMappingURL=small-nav.css.map */